
@mixin myBox($backColor,$fontColor){
    
    background-color:$backColor;
    color:$fontColor;

    width: 25%;
    height: 200px;
    border:$myBorder;
    border-radius: 5px;
    padding: 10px;
    margin:10px;
}

.content{
    .cards{
        display: flex;
        .card1{        
            @include myBox(brown,white)
         }
        .card2{
            @include myBox(pink,yellow )
        }
        .card3{
            @include myBox(#005599,gray)
        }
        .card4{
            @include myBox(#009922,black)
        }
    }
}